<dom-module id="app-theme">
  <template>
    <style>
      :root {
        --dark-primary-color:       <<--dark-primary-color>>;
        --default-primary-color:    <<--default-primary-color>>;
        --light-primary-color:      <<--light-primary-color>>;
        --text-primary-color:       <<--text-primary-color>>;
        --accent-color:             <<--accent-color>>;
        --primary-background-color: <<--primary-background-color>>;
        --primary-text-color:       <<--primary-text-color>>;
        --secondary-text-color:     <<--secondary-text-color>>;
        --disabled-text-color:      #BDBDBD;
        --divider-color:            #BDBDBD;


        /* Components */

        /* paper-drawer-panel */
        --drawer-menu-color:           #ffffff;
        --drawer-border-color:         1px solid #ccc;
        --drawer-toolbar-border-color: 1px solid rgba(0, 0, 0, 0.22);

        /* paper-menu */
        --paper-menu-background-color: #fff;
        --menu-link-color:             #111111;

        /* paper-input */
		
		--paper-input-container-color: <<--secondary-text-color>>;
		--paper-input-container-input-color: <<--secondary-text-color>>;
		--paper-input-container-focus-color: <<--default-primary-color>>;
      }
    </style>
  </template>
</dom-module>