<!--
        @author Rohit_Khode
        @description Blank Template
-->
<link rel="import" href="/bower_components/meta-polymer/meta-polymer.html">
<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id=":componentName">
  <style>
     :host {
      display: block;
      padding: 8px;
    }
    
    #content {
      background: #fff;
    }

  </style>
  <template>
		<div class="content" id="content">

		</div>
	</template>
  <script>
    MetaPolymer({
      is: ':componentName'
    });

  </script>
</dom-module>
