<!--
©2015-2016 EdgeVerve Systems Limited (a fully owned Infosys subsidiary), Bangalore, India. All Rights Reserved.
-->
<!--
    {
        author :"Rohit_Khode",
        description:" Campaign Page Template"
    }
-->
<div class="the_wrapper">
    <style scoped>
        div.the_wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
    <div class="layout vertical wrap center">
        <oe-carousel show-arrows show-dots timeout=5000>
        </oe-carousel>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <paper-button primary>Apply Now</paper-button>
    </div>
</div>