<!--
©2015-2016 EdgeVerve Systems Limited (a fully owned Infosys subsidiary), Bangalore, India. All Rights Reserved.
-->
<!--
    {
        author :"Rohit_Khode",
        description:" This template can be used to design dashboards"
    }
-->
<div class="the_wrapper layout vertical">
    <style scoped>
        div.the_wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>

    <div class="layout horizontal oe-rl-75-25">
        <div class="layout vertical">
        </div>
        <div>
        </div>
    </div>
    <div class="layout horizontal oe-rl-4eq justified start">
    </div>
</div>
