<dom-module id=":componentName">
  <template>
    <style>

    </style>
    <div class="content layout vertical">
      <div class="evform layout vertical">
        <div class="layout horizontal center">
          <h2 class="flex">:modelName</h2>
          <div>
            <template is="toolbar"></template>
            <paper-button raised primary on-tap="doSave" oe-action-model=":modelAlias">
              <i18n-msg msgid="Save">Save</i18n-msg>
            </paper-button>
            <paper-menu-button horizontal-align="right">
              <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
              <paper-menu class="dropdown-content" oe-action-model=":modelAlias">
                <paper-item on-tap="doClear">
                  <iron-icon icon="description" item-icon></iron-icon>
                  <i18n-msg msgid="New">New</i18n-msg>
                </paper-item>
                <paper-item on-tap="doCopy" disabled$="{{!:modelAlias.id}}">
                  <iron-icon icon="content-copy" item-icon></iron-icon>
                  <i18n-msg msgid="Copy">Copy</i18n-msg>
                </paper-item>
                <paper-item on-tap="doFetch" disabled$="{{!:modelAlias.id}}">
                  <iron-icon icon="refresh" item-icon></iron-icon>
                  <i18n-msg msgid="Refresh">Refresh</i18n-msg>
                </paper-item>
                <paper-item on-tap="doDelete" oe-action-model=":modelAlias" disabled$="{{!:modelAlias.id}}">
                  <iron-icon icon="delete" item-icon></iron-icon>
                  <i18n-msg msgid="Delete">Delete</i18n-msg>
                </paper-item>
              </paper-menu>
            </paper-menu-button>
          </div>
        </div>

        <div id="fields" class="layout horizontal wrap">
        </div>
        <div id="grids" class="layout vertical">
        </div>
      </div>
    </div>
  </template>
  <script>
    MetaPolymer({
      is: ":componentName",
      properties: {
        :modelAlias: {
          type: 'object',
          notify: true,
          value: function() {
            return {}
          }
        }
      },
      behaviors: [OEUtils.FormValidationBehavior, OEUtils.ModelHandler, OEUtils.FormMessagesBehavior]
    });

  </script>
</dom-module>
