<dom-module id=":componentName">
  <template>
    <style>
      #fields>* {
        width: calc(100% - 16px);
        margin: 0px 8px;
      }
    </style>
    <div class="content layout vertical">
      <div class="evform layout vertical">
        <div class="layout horizontal">
          <h2 class="flex">:modelName</h2>
          <div>
            <template is="toolbar"></template>
            <paper-button raised primary on-tap="doSave" oe-action-model=":modelAlias">Save</paper-button>
            <paper-button raised on-tap="doClear" oe-action-model=":modelAlias">Clear</paper-button>
            <template is="dom-if" if="{{:modelAlias.id}}">
              <paper-button raised on-tap="doFetch">Reset</paper-button>
              <paper-button raised on-tap="doDelete" oe-action-model=":modelAlias">Delete</paper-button>
            </template>
          </div>
        </div>

        <oe-template id="main">
        </oe-template>

        <oe-template id="details">
        </oe-template>

        <oe-template id="audit">
        </oe-template>

        <div id="fields" class="layout horizontal wrap">

        </div>

        <div id="grids" class="layout vertical">
        </div>
        <oe-json-input fieldid="scope" field-id="scope" label="scope"></oe-json-input>
      </div>
    </div>
  </template>
  <script>
    MetaPolymer({
      is: ":componentName",
      properties: {:modelAlias: {
          type: 'object',
          notify: true,
          value: function () {
            return {}
          }
        }
      },
      behaviors: [EV.FormValidationBehavior, EV.ModelHandler, EV.FormMessagesBehavior]
    });
  </script>
</dom-module>