/* ©2015-2016 EdgeVerve Systems Limited (a fully owned Infosys subsidiary), Bangalore, India. All Rights Reserved.
The EdgeVerve proprietary software program ("Program"), is protected by copyrights laws, international treaties and other pending or existing intellectual property rights in India, the United States and other countries.
The Program may contain/reference third party or open source components, the rights to which continue to 
remain with the applicable third party licensors or the open source community as the case may be and nothing 
here transfers the rights to the third party and open source components, except as expressly permitted. 
Any unauthorized reproduction, storage, transmission in any form or by any means (including without limitation to electronic, mechanical, printing, photocopying, recording or  otherwise), or any distribution of this Program,or any portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law. */

.module-container {
    height: calc(100vh - 40px);
}

.tab-lister {
    padding: 0px 6px;
    height: 30px;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
}

.tab-name {
    font-size: 14px;
    cursor: pointer;
}

.tab-name iron-icon {
    width: 15px;
    height: 15px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.editor-options {
    margin-left: 35px;
}

.editor-options iron-icon {
    margin: 0px;
}

.header-title iron-icon {
    background: none;
    padding: 2px;
}

.create-page-container {
    width: 150px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding-top: 100px;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    background-clip: padding-box;
    background-color: #9E9E9E;
}


iron-icon {
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#view-mode.active {
    color: #1C87E3;
}

.custom-text-heading {
    font-family: Roboto !important;
    font-size: 14px;
    color: #000000;
    letter-spacing: 1px;
    line-height: 14px;
    font-weight: 500;
}

#drawer {
    z-index: 10 !important;
}

element-helper .main-prop * {
    color: #FFF !important;
}

[oe-custom-container],
[oe-custom-field] {
    box-sizing: border-box;
}

attach-workflow-dialog oe-hblock .parent {
    align-items: center !important;
}

add-rule-dialog oe-hblock .parent {
    align-items: center !important;
}


/*Preview component specific*/

@-webkit-keyframes rotate {
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}


/* Standard syntax */

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

designer-field-wrapper #currentWrap>* {
    pointer-events: none;
}

.slanted-rombus {
    transform: skew(30deg);
    border-radius: 2px;
    padding: 0px 4px;
}

.slanted-rombus>* {
    transform: skew(-25deg);
}

.trapezoid {
    width: 125px;
    height: 30px;
    background: #EEE;
    margin: 0px 10px;
    position: relative;
    z-index: 0;
}

.tab-name iron-icon.tab-close:hover {
    background: #CCC;
    color: #fff;
    border-radius: 50%;
}

.trapezoid.tab-active-true {
    background: #FEFEFE;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, .2);
}

.trapezoid:before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 15px;
    border-bottom-width: 15px;
    border-left-width: 8px;
    border-right-width: 8px;
    position: absolute;
    top: 0;
    right: 100%;
    border-color: transparent #FEFEFE #FEFEFE transparent;
}

.trapezoid:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 15px;
    border-bottom-width: 15px;
    border-left-width: 8px;
    border-right-width: 8px;
    position: absolute;
    top: 0;
    left: 100%;
    border-color: transparent transparent #FEFEFE #FEFEFE;
}

.trapezoid:not(.tab-active-true):before {
    border-color: #EEE #EEE transparent transparent;
}

.trapezoid:not(.tab-active-true):after {
    border-color: transparent transparent #EEE #EEE;
}

.trapezoid:first-child:before {
    border-color: #EEE;
    border-top-left-radius: 4px;
}

.trapezoid.tab-active-true:first-child:before {
    border-color: #FEFEFE;
    box-shadow: 0px -2px 0px rgba(0, 0, 0, .2);
}

.paper-drawer-panel-0 .narrow-layout.paper-drawer-panel>#main.paper-drawer-panel:not(.iron-selected)>#scrim.paper-drawer-panel,
.paper-drawer-panel-0 .dragging.paper-drawer-panel>#main.paper-drawer-panel>#scrim.paper-drawer-panel {
    z-index: 10;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.dialog-header {
    font-size: 20px;
}

.dialog-header iron-icon {
    width: 20px;
    height: 20px;
}

.dialog-footer {
    height: 52px;
    box-sizing: border-box;
    padding: 6px;
    margin: 0px !important
}

paper-dialog paper-button+paper-button {
    margin-left: 8px;
}


/*Custom collapse list styles for Rules dialog components*/

.custom-list-styling {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px 0px 2px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in;
}

.custom-list-styling .header-panel {
    height: 48px;
    padding: 16px 24px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 300ms ease-in;
}

.custom-list-styling.collapsed-false {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(0, 0, 0, 0.1);
    margin: 16px 0px;
}

.custom-list-styling.collapsed-false .header-panel {
    height: 64px;
}

.custom-list-styling .header-panel .heading {
    padding-left: 16px;
}

.custom-list-styling .collapse-panel .table-header {
    font-weight: 500;
}

.custom-list-styling .collapse-panel .table-row,
.custom-list-styling .collapse-panel .table-header {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    padding: 0px 24px;
    height: 48px;
}

.custom-list-styling .right-side>*:not(.rotate-icon) {
    padding-right: 16px;
}

.custom-list-styling .rotate-icon {
    transition: all 0.5s ease-in;
}

.custom-list-styling .rotate-icon.rotate-true {
    transform: rotate(180deg);
}

.custom-list-styling .table-row .row-options {
    position: absolute;
    height: 100%;
    right: 0px;
    background: #fff;
    width: 100px;
    visibility: hidden;
}

.custom-list-styling .table-row:hover .row-options {
    visibility: visible;
}

.auto-grow-dropdown #contentWrapper>.dropdown-content {
    max-height: none !important;
}


/*Designer Styles*/

html-dom-element #canvasBoard [designer_container].desg-empty {
    padding-right: 40px;
    padding-top: 40px;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1) inset, 0 0 0 4px rgba(255, 255, 255, 0.2) inset;
    outline: 1px dashed #178df7;
}


/*html-dom-element #canvasBoard [designer_container]{
    padding: 8px;
}*/

html-dom-element #canvasBoard [designer_container][desg-handle="form-builder"].desg-empty {
    position: relative;
    min-height: 140px;
    min-width: 300px;
    border: 1px solid;
    padding: 16px;
    box-shadow: 0 0 0 16px rgba(0, 0, 0, 0.24) inset;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

html-dom-element #canvasBoard [designer_container][desg-handle="form-builder"].desg-empty:before {
    content: "Select an model to generate its form";
    position: absolute;
    text-align: center;
}

paper-tooltip.no-padding-tooltip #tooltip {
    padding: 0px !important;
    opacity: 1 !important;
}

paper-tabs.custom-compressed>paper-icon-button {
    display: none;
}

html-dom-element #canvasBoard [designer-id] {
    cursor: pointer;
}


/*Elements Predefined Styles*/

.full-width {
    width: 100%;
}

.postion-rel {
    position: relative;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    padding: 0px !important;
}

.padding-8 {
    padding: 8px;
}

.padding-16 {
    padding: 16px;
}

.margin-8 {
    margin: 8px;
}

.margin-16 {
    margin: 16px;
}

.padding-8v {
    padding-top: 8px;
    padding-bottom: 8px;
}

.padding-16v {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.padding-8h {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.padding-16h {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.margin-8v {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.margin-16v {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.margin-8h {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.margin-16h {
    margin-left: 16px !important;
    margin-right: 16px !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

#mobile-panel .ui-resizable-e {
    right: 0px;
}

#mobile-panel .ui-resizable-e:hover {
    background: rgba(0, 0, 0, 0.2);
}

.drop-target.drop-before:before {
    content: "";
    display: block;
    height: 2px;
    background: red;
}

.drop-target.drop-after:after {
    content: "";
    display: block;
    height: 2px;
    background: red;
}

.oe-resize-handler {
    display: block;
    position: absolute;
    z-index: 1;
}

.oe-resize-handler.oe-resize-e:hover,
.oe-resize-handler.oe-resize-w:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.oe-resize-handler.oe-resize-e,
.oe-resize-handler.oe-resize-w {
    height: 100%;
    width: 5px;
    top: 0px;
    cursor: e-resize;
}

.oe-resize-handler.oe-resize-e {
    right: -4px;
}

.oe-resize-handler.oe-resize-w {
    left: 0px;
}

.oe-resize-handler.oe-resize-n,
.oe-resize-handler.oe-resize-s {
    width: 100%;
    height: 5px;
    left: 0px;
    cursor: n-resize;
}

.oe-resize-handler.oe-resize-n {
    top: 0px;
}

.oe-resize-handler.oe-resize-s {
    bottom: 0px;
}

.oe-resize-handler.oe-resize-n:hover,
.oe-resize-handler.oe-resize-s:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}